/dist
/node_modules
/client/haven_artifacts
/client/node_modules
/demo/build
/demo/node_modules
/mirror/node_modules
/mirror/haven_artifacts
/server/dist
/server/haven_artifacts
/server/node_modules
/sublime
/demo/dist
/player/node_modules
/player/haven_artifacts
/client/haven_cache
/mirror/haven_cache
/mirror/dist
/demo/src/static/aws.js
/service/node_modules
/service/build
/server/build
/server/page-mirror-server.log
