<!DOCTYPE html>
<html ng-app="ngApp">
	<head>
		<title>Page Mirror Player</title>
		<script src="angular.js"></script>
		<script src="player-controllers.js"></script>
		<script type="text/javascript">
			var contentSize = {width: 0, height: 0};
			function resize(width, height){
				contentSize = {width: width, height: height};
				var availableWidth = window.document.documentElement.clientWidth;
				var availableHeight = window.document.documentElement.clientHeight * 0.9;
				var xPadding = availableWidth * 0.05;
				availableWidth = availableWidth - (xPadding*2);
				var ratio = availableWidth / width;
				var trueWidth = availableWidth;
				var trueHeight = height * ratio;
				if(trueHeight > availableHeight){
					ratio = availableHeight / height;
					trueHeight = availableHeight;
					trueWidth = width * ratio;
					xPadding = (availableWidth - trueWidth)/2
				}
				document.getElementById("frame").width = width;
				if(ratio >= 1){
					document.getElementById("frame").height = trueHeight;
				}else{
					document.getElementById("frame").height = height;
				}
				var wrapCss = "margin-left: " + xPadding + "px;"
				document.getElementById("wrap").style.cssText = wrapCss;
				var frameCss = "-ms-zoom: " + ratio + "; -moz-transform: scale(" + ratio + "); -moz-transform-origin: 0px 0; -o-transform: scale(" + ratio + "); -o-transform-origin: 0 0; -webkit-transform: scale(" + ratio + "); -webkit-transform-origin: 0 0;"
				document.getElementById("frame").style.cssText = frameCss;
			}

			window.addEventListener("resize", function(){
				resize(contentSize.width, contentSize.height);
			});

			var recordingId;

			function init(){
				scope.init();
			}

			function before(){
				scope.before();
			}

			function update(){
				scope.update();
			}

			function after(){
				scope.after();
			}
		</script>
	</head>
	<body ng-controller="PlayerCtrl">
		<style>
		    #wrap { padding: 0; top:0px; overflow: hidden; pointer-events: none;}
		    #frame { top:0px; }
		</style>
		<div>
			<button ng-click="player.restart()">Restart</button>
			<button ng-click="player.pause()">Pause</button>
			<button ng-click="player.resume()">Play</button>
			<button ng-click="player.setSpeed(0.25)">x1/4</button>
			<button ng-click="player.setSpeed(0.5)">x1/2</button>
			<button ng-click="player.setSpeed(1)">x1</button>
			<button ng-click="player.setSpeed(2)">x2</button>
			<button ng-click="player.setSpeed(4)">x4</button>
			Speed: {{player.speed}} &nbsp;
			State: {{player.state}} &nbsp;
			Start: {{player.session.startTime | date: 'medium'}} &nbsp;
			<span ng-if="player.session.status == 'recorded'">
			End: {{player.session.endTime | date: 'medium'}} &nbsp;
			Duration: {{(player.session.endTime - player.session.startTime) / 1000}}s &nbsp;
			</span>
			<span ng-if="player.session.status == 'recording'">
			End: Still In Progress &nbsp;
			Duration: {{(player.session.lastEventTime - player.session.startTime) / 1000}}s &nbsp;
			</span>
			Events: <button ng-click="player.skipToEvent(player.session.processedEvents.length - 1)">Previous</button> {{player.session.processedEvents.length}}/{{player.session.events.length}} <button ng-click="player.skipToEvent(player.session.processedEvents.length + 1)">Next</button> &nbsp;
			<br/>
			Pages: <span ng-repeat="page in player.session.pages"><button ng-click="player.skipToPage($index)">{{page.url}}</button> &nbsp;</span>
		</div>
		<div id="wrap">
			<script type="text/javascript">
				document.write("<iframe id='frame' frameborder='0' src='player-frame.html#" + window.location.hash.substring(1) + "'> </iframe>");
			</script>
		</div>
	</body>
</html>